* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f0e17;
}

h1 {
  font-family: "Lugrasimo", cursive;
  font-family: "Signika Negative", sans-serif;
}

#jumbroton {
  margin-top: 100px;
}

.content p {
  color: #a7a9be;
}

#aboutme {
  margin-top: 100px;
  margin-bottom: 100px;
}

#aboutme p {
  color: #a7a9be;
}

#connect {
  margin-top: 100px;
}

#tech {
  margin-top: 100px;
}

#tech p {
  color: #a7a9be;
  font-size: 30px;
  font-weight: bold;
}

#connect p {
  color: #a7a9be;
}

#project {
  margin-top: 100px;
}

#project p {
  color: #a7a9be;
  margin-bottom: 30px;
}
